# DAQ Web Config Center port (Default: 8081)
DAQ_PORT=8081

# Origin URL for central Portal (Default: http://localhost:8080)
PORTAL_ORIGIN=http://localhost:8080

# Allowed CORS / CSRF Origins (Default: * for closed LAN)
ALLOWED_ORIGINS=*

# Operator credentials (Default user: admin, password: 00000000)
DAQ_OPERATOR_USER=admin
DAQ_OPERATOR_HASH=pbkdf2_sha256:100000:b5fa8a65cb0d3df701a753855dfc87c1:e4586d94fcfb275047e4704b5aa83ea0eb7240b42c65e9959ac2014386f3f684
DAQ_SESSION_KEY=replace_with_a_secure_random_key_in_production_32bytes
